/* PRUEBA COMMIT */

/* Cargar la fuente Genos desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Genos:wght@300&display=swap');

/* Establecer el padding para el contenedor principal */
main > .container {
    padding: 70px 15px 20px;
}

.site-main {
    background-color: black !important;
}

/* Aplicar la fuente Genos a todo el contenido dentro del elemento <main> */
main {
    font-family: 'Genos', sans-serif;
}

/* Establecer el color de fondo y el color del texto para el cuerpo del documento */
body {
    background-color: #010305; /* Fondo negro */
    color: #ffff00; /* Texto amarillo */
    font-family: 'Genos', sans-serif; /* Fuente Genos */
}

/* Establecer el color de fondo y el tamaño de fuente para el pie de página */
.footer {
    background-color: #000000 !important; /* Fondo negro */
    color: #ffff00; /* Texto amarillo */
    font-size: .9em; /* Tamaño de fuente reducido */
    height: 60px; /* Altura del pie de página */
}

/* Establecer el color de fondo para las migas de pan (breadcrumbs) */
.breadcrumb {
    background-color: #282828; /* Fondo gris oscuro */
}

/* Establecer el color del texto de los enlaces en las migas de pan */
.breadcrumb-item > a {
    color: #ffff00; /* Texto amarillo */
}

/* Establecer el color del texto activo en las migas de pan */
.breadcrumb-item.active {
    color: #efefef; /* Texto blanco */
}

/* Establecer el padding para el contenedor dentro del pie de página */
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

/* Establecer el color y el estilo de fuente para elementos con la clase .not-set */
.not-set {
    color: #c55; /* Color rojo */
    font-style: italic; /* Estilo de fuente en cursiva */
}

/* Añadir iconos de ordenación a los enlaces de ordenación en la vista de cuadrícula */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

/* Icono de orden ascendente */
a.asc:after {
    border-bottom: solid 7px #212529; /* Triángulo negro apuntando hacia arriba */
    border-top-width: 0;
}

/* Icono de orden descendente */
a.desc:after {
    border-top: solid 7px #212529; /* Triángulo negro apuntando hacia abajo */
    border-bottom-width: 0;
}

/* Evitar el salto de línea en las celdas de encabezado de la vista de cuadrícula */
.grid-view th {
    white-space: nowrap;
}

/* Establecer el estilo para los bloques de sugerencias */
.hint-block {
    display: block;
    margin-top: 5px;
    color: #999; /* Color gris claro */
}

/* Establecer el estilo para el resumen de errores */
.error-summary {
    color: #a94442; /* Texto rojo */
    background: #fdf7f7; /* Fondo rosa claro */
    border-left: 3px solid #eed3d7; /* Borde izquierdo rosa oscuro */
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* Alinear el botón de cierre de sesión en la barra de navegación */
.nav li > form > button.logout {
    padding-top: 7px;
    color: black; /* Color blanco semitransparente */
}

/* Estilo del botón de cierre de sesión en pantallas pequeñas */
@media(max-width:767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

/* Eliminar el subrayado en el hover y en la selección de los botones en el home */
.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75); /* Color blanco semitransparente */
}

/* Eliminar el subrayado en el hover y en la selección de los botones en el home */
.nav > li > form > button.logout:focus {
    outline: none;
}

/* Centrar el texto en las clases de las tarjetas del home */
nav.navbar > div.container {
    max-width: none;
    align-content: center;
}

/* Crear un grid en el home */
div.body-content a {
    display: grid;
}

/* Formato de las tarjetas y del color del texto */
div.btn {
    padding: 50px;
    white-space: nowrap;
    overflow: hidden;
    background-color: #131313 !important; /* Fondo negro */
    color: #ffff00; /* Texto amarillo */
}

/* Color negro en el hover */
div.btn:hover {
    background-color: #282828 !important; /* Fondo gris oscuro */
}

/* Colores en los botones al pulsar */
.btn-success {
    background-color: #131313; /* Fondo negro */
    border-color: #ffff00; /* Borde amarillo */
    color: #ffff00; /* Texto amarillo */
}

/* Colores en los botones al hacer hover, pulsar y aceptar */
.btn-success:hover, .btn-success:active, .btn-success:focus {
    border-color: #ffff00 !important; /* Borde amarillo */
    background-color: #282828 !important; /* Fondo gris oscuro */
}

/* Eliminar la decoración del texto en el hover de los enlaces dentro del contenido principal */
div.body-content a:hover {
    text-decoration: none !important;
}

/* Establecer el color de fondo de la barra de navegación */
.navbar-black {
    background-color: #000000 !important; /* Fondo negro */
}

.navbar-black .navbar-nav .nav-link {
    color: #ffff00 !important; /* Texto amarillo */
}

.navbar-black .navbar-nav .nav-link:hover {
    color: #e6e600 !important; /* Texto amarillo en hover */
}

/* Establecer el color del texto para los enlaces de la barra de navegación y las tablas */
a.navbar-brand, a.nav-link, a, .table, th > a {
    color: #ffff00 !important; /* Texto amarillo */
}
/* Estilo para el intérprete */
.interprete {
    font-size: 1.5em; /* Tamaño mediano */
    font-weight: bold; /* Negrita */
}

/* Estilo para el título */
.titulo {
    font-size: 1.2em; /* Tamaño grande */
    font-weight: bold; /* Negrita */
}

/* Estilo para el álbum */
.album {
    font-size: 1em; /* Tamaño un poco más pequeño que el título */
}

.custom-card {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.beatbunker-nav .dropdown-menu {
    background-color: #282828 !important;
}

.beatbunker-nav .dropdown-menu .dropdown-item:hover {
    background-color: black !important;
}









.body-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0; /* Elimina el padding para que no haya espacio en blanco */
}

.row {
    display: flex;
    justify-content: center; /* Centra las tarjetas horizontalmente */
    width: 100%;
    margin-top: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    margin: 0 15px; /* Añade un margen horizontal entre las tarjetas */
    margin-bottom: 30px;
    border: none; /* Elimina cualquier borde que pueda causar espacio */
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0; /* Ajusta el padding para el tamaño adecuado */
    transition: background-color 0.3s ease;
    background-color: #131313 !important; /* Fondo negro */
    color: #ffff00 !important; /* Texto amarillo */
    width: 100%;
}

.card-content:hover {
    background-color: #282828 !important; /* Fondo gris oscuro en hover */
}

.image-container {
    display: flex;
    justify-content: center;
    margin: 0; /* Elimina el margen alrededor de la imagen */
}

.image-container img {
    max-width: 200px; /* Tamaño grande para destacar */
    max-height: 200px;
    object-fit: cover;
    margin: 0; /* Elimina el margen dentro de la imagen */
    padding: 0; /* Elimina el padding dentro de la imagen */
}

.card-text {
    margin: 0; /* Elimina el margen alrededor del texto */
    padding: 0; /* Elimina el padding alrededor del texto */
}

.card-text .card-title {
    margin-top: 10px;
    color: #ffff00; /* Texto amarillo */
    font-size: 1.5em;
}


html, body {
    height: 100%;
    margin: 0;
}

.body-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh; /* Ajusta la altura al 60% de la vista */
    padding: 0;
}

.card.custom-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border: 0px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    background-color: transparent}

.card.custom-card:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.card-title {
    font-size: 1.5rem;
    margin-top: 15px;
}
